# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Other
.idea/
#API key
key.js

#others
dublin_bus_time/bus_stops/ml_models/pickle_builder.py
.vscode
*__.pkl
*temp.py
routes_stops_mapping.py
__pycache__/
.DS_Store
frontend
pickle_maker.py
routes_stops_mapping.py
.travis.yml
.ipynb_checkpoints/