<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <form method="post">
    {% csrf_token %}
    {{form|linebreaks}}
    <button type="submit" value="Submit">Submit</button>
  </form>
  {% if messages %}
  <ul class="messages">
    {% for message  in messages %}
    <li {% if message.tags %} class="{{message.tags}}" {% endif %}>
      {{ message }} </li>
    {% endfor %}
  </ul>
  {% endif %}


<!--  {% for bus_stop in context %}-->
<!--    <h1>Name : {{bus_stop.stopname }} </h1>-->
<!--    <ul>-->
<!--      <li>StopID : {{ bus_stop.stopid }}</li>-->
<!--      <li>Route : {{ bus_stop.route }}</li>-->
<!--      <li>Latitude : {{ bus_stop.lat }}</li>-->
<!--        <li>Longitude : {{ bus_stop.lon }}</li>-->
<!--    </ul>-->
<!--    {% endfor %}-->
  </body>
</html>