* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "sans-serif";
}

body,
html {
  height: 100%;
  line-height: 1.8;
}

.container-fluid {
  display: block;
  margin: 10px auto;
}

#map {
  margin-top: 62px;
  height: 92vh;
  max-width: none;
}

#details {
  display: none;
  margin-left: 10px;
  margin-top: 10px;
  background-color: "#fff";
  border: "2px solid #fff";
  border-radius: "2px";
  box-shadow: "0 2px 6px rgba(0,0,0,.3)";
  height: "25px";
  width: "260px";
  align-content: "space-around";
}

#detailedDirections {
  height: 92vh;
  float: right;
  width: 30%;
  overflow: auto;
  display: none;
  z-index: 100;
  border-left: 1px solid rgb(189, 189, 189);
}

.weatherContainer {
  margin: 0 auto;
}

.location {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  font-size: 2.5em;
}

.weatherIcon img {
  display: block;
  margin: 0 auto;
}

.temperature {
  height: 60px;
}

.temperature p {
  padding: 0;
  margin: 0;
  font-size: 3em;
  text-align: center;
}

.temperature span {
  font-size: 0.8em;
}

.description p {
  padding: 8px;
  margin: 0;
  text-align: center;
  font-size: 1.2em;
}