* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "sans-serif";
}

body,
html {
  height: 100%;
  line-height: 1.8;
}

/* Navbar styling */
/* .menuBar {
  overflow: hidden;
  background-color: #000000;
  position: relative;
}

.menuBar #accordionMenu {
  display: none;
  position: fixed;
  height: 100%;
  width: 400px;
  z-index: 1;
  border-top: 2px solid yellow;
  background-color: #000000;
}

.menuBar a {
  color: yellow;
  padding: 6px 20px;
  text-decoration: none;
  font-size: 25px;
  display: inline-block;
}

.menuBar a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.card-body {
  height: 310px;
  padding: 0;
} */

#map {
  margin-top: 62px;
  height: 92vh;
  max-width: none;
}
